@import 'reset';


body {
  width: 800px;
  margin: 25px auto;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

rect:hover {
  fill-opacity: 0.6;
}
.axis {
  font-size: smaller;
}

div.tooltip {	
  position: absolute;			
  text-align: center;							
  height: 10px;					
  padding: 4px;
  font-size: 12px;
  background: lightsteelblue;
  display:inline-table;
  border: 0px;
  border-radius: 2px;
  pointer-events: none;			
}

.link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
  }
